[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib="*"
numpy="*"
pandas="*"
scipy="*"
jupyter="*"
scikit-learn="*"
#-------------------
torch="*"
tensorboard="*"
torchtext="*"
torchdata = "*"
spacy = "*"

[dev-packages]
ipykernel="*"
portalocker="*"

[requires]
python_version = "3.10"
